html {
    background-image: linear-gradient(to bottom right, #5c0aad, #e016b1);
/* height: 1200px; */
height: auto;

}

body{
    margin: 30px;
}



.header {
    color: black;
    margin:20px;
    margin-top:30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: inherit;
    width:400px;
}

ol{
    width: inherit;
    display: inherit;
    justify-content: space-evenly;
}

li{
    display: inherit;
}

.logo {
    width:50px;
    height:50px;
    background-color: teal;
    border-radius: 50%;
}

.heart-logo{
width:5%;
}
.header ol {
    padding: 0;
    display: flex;
}
.header li {
    list-style: none;
    margin: 0 7px;

}


.header a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?szvuie');
    src:  url('fonts/icomoon.eot?szvuie#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?szvuie') format('truetype'),
      url('fonts/icomoon.woff?szvuie') format('woff'),
      url('fonts/icomoon.svg?szvuie#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.logo-heart{
    font-size: 40px;
    color:white;
    margin-left: 20px;

}

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-heart:before {
    content: "\e9da";
  }

  .line-head{
      /* line-height: 1px; */
  }


.hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   height: 450px;
}

.title-details{
    display: block;
}

.hero-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 90px;
    color:white;
    margin: 5px 0px 5px 0px;
}

/* >>>>>>>>>>>>>>> presentación <<<<<<<<<<<<<<<<<<  */
.invitation{
text-align: center;
    font-size: 2.5em;
    font-family: 'Shadows Into Light', cursive;
    color:white

}

.subtitle {
    font-size: 30px;
}
.hero-img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.presentation-container{
    margin: 20px;
    margin-top:30px;
    padding-top: 10px;
    height: 450px;
    display: flex;
    align-items: center;
}

.pres-size{
    font-size:65px;
    text-align: center;
}

/* >>>>>>>>>>>>>>>>>>nuestra historia <<<<<<<<<<<<<<<<<< */
.story{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color:white;
    line-height: 1.5em;
    padding-top:15px;
}

#story{

    height: 500px;
    width:70%;
    margin: 0 auto;
    padding:2%;
/* border:1px solid red;     */
}

.once-upon{

    margin-bottom: 35px;
}

.story-img{
    float:left;
margin: 20px;
}

/* >>>>>>>>>>>>>>>>>> footer <<<<<<<<<<<<<<<<< */
#footer{
    text-align: left;
    /* background-color: blueviolet; */
    padding: 10px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color:darkgray;
}

.line-footer{
    margin-top:10px;
    color:wheat;
}

/* >>>>>>>>>>>>>>> estilos de la galeria <<<<<<<<<<<<<<<<<<*/

.gallery{
    list-style: none;
    width: 90%;
    box-sizing: border-box;
    margin:auto;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.gallery li {
    margin:5px;
}

.gallery img{
    width:220px;
    height: 200px;
}

/* Estilos del modal */

.modal{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.83);
    width: 100%;
     height: 100%;
}

.modal h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    margin:15px 0;
}

.imagen{
    /* border:1px solid red; */
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin:0 10px;
    font-weight: 600;
}

/* Para editar sólo la 2da etiqueta a lo hacemos de esta manera
 */

.imagen a nth:child(2){
    margin:0;
    height: 100%;
}

.imagen img {
    width:500px;
    max-width:100%;
    height: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.boton-modal{

    display: block;
    background-color: #fff;
    color:#000;
    text-align: center;
    margin:auto;
    width: 25px;
    height: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 50%;
    font-weight: 800;
}